{% extends 'a_base.html' %}
{% load static %}

{% block title %}
<title>Books</title>
{% endblock%}

{% block content %}

<!-- Title -->
<div class="p-3 mb-4 text-center">
        <span class="title">Books</span>
    </div>

<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href="/a_add_book/" class="btn btn-light btn-block border-secondary">Add Book <span class="fa fa-plus"></span></a>
            {% if value %}
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Book No.</th>
                        <th>Book Name</th>
                        <th><center>Edit</center></th>
                        <th><center>Delete</center></th>
                    </tr>
                </thead>
                {% for r in value %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r.1}}</td>
                    <td><center><a href="/a_update_book/?b_id={{r.0}}&page=edit" class="btn btn-primary btn-sm"><span class="fa fa-pencil-square-o"></span></a></center></td>
                    <td><center><a href="/a_book/?b_id={{r.0}}&page=dlt" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a></center></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}