{% extends 'a_base.html' %}
{% load static %}

{% block title %}
<title>Students</title>
{% endblock%}

{% block content %}

<!-- Title -->
<div class="p-3 mb-4 text-center">
        <span class="title">Students</span>
</div>

<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href="/a_add_student/" class="btn btn-light btn-block border-secondary">Add Student <span class="fa fa-plus"></span></a>
            {% if data %}
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th>
                        <th><center>Edit</center></th>
                        <th><center>Delete</center></th>
                    </tr>
                </thead>
                {% for d in data %}
                <tr>
                    <td>{{d.st_roll_no}}</td>
                    <td>{{d.st_name}}</td>
                    <td><center><a href="/a_update_student/?roll_no={{d.st_roll_no}}" class="btn btn-primary btn-sm"><span class="fa fa-pencil-square-o"></span></a></center></td>
                    <td><center><a href="/a_student/?roll_no={{d.st_roll_no}}&page=dlt" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a></center></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}